<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Admin</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .additional-fields {
            display: none;
        }
        .page {
            display: none;
        }
        .page.active {
            display: block;
        }
        #progress-bar {
            color: green; /* For Firefox */
            background: rgb(188, 190, 188); /* For Chrome, Safari, and Opera */
        }
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        
        .container {
            flex: 1;
        }
        footer {
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 20px 0;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container mt-5">
        <h1 class="text-center">Gestion des utilisateurs</h1>

        <!-- Tableau pour la classe User -->
        <div class="table-container">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Adresse postale</th>
                        <th>Ville</th>
                        <th>Téléphone</th>
                        <th>Statut</th>
                        <th>Occupation</th>
                        <th>Éducation</th>
                        <th>Salaire</th>
                        <th>En attente d'un enfant</th>
                        <th>Médias</th>
                        <th>Marque de téléphone</th>
                        <th>Lit des magazines</th>
                        <th>Fume</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="userTable">
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.address }}</td>
                        <td>{{ user.city }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.status }}</td>
                        <td>{{ user.occupation }}</td>
                        <td>{{ user.education }}</td>
                        <td>{{ user.salary }}</td>
                        <td>{{ user.expecting_child }}</td>
                        <td>{{ user.media }}</td>
                        <td>{{ user.phone_brand }}</td>
                        <td>{{ user.reads_magazines }}</td>
                        <td>{{ user.smokes }}</td>
                        <td>
                            <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur?');">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Tableau pour la classe Userlogin -->
        <h2 class="text-center mt-5">Gestion des connexions utilisateur</h2>
        <div class="table-container">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Nom d'utilisateur</th>
                        <th>Statut d'activation</th>
                        <th>password</th>
                        <th>Action</th>
                        <th> Mail</th>
                    </tr>
                </thead>
                <tbody id="userloginTable">
                    {% for userlogin in userlogins %}
                    <tr>
                        <td>{{ userlogin.id }}</td>
                        <td>{{ userlogin.username }}</td>
                        <td>{{ "Activé" if userlogin.activate else "Désactivé" }}</td>
                        
                        <td>{{ userlogin.password }}</td>
                        <td>{{ userlogin.email }}</td>
                            <!-- Ajouter des actions spécifiques pour la gestion des utilisateurs -->
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>

    <footer>
        &copy; 2024 Futura. Tous droits réservés.
    </footer>

    <!-- Scripts JavaScript existants ici ... -->
</body>
</html>
