<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestion Admin</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <style>
            .additional-fields {
                display: none;
            }
        </style>
    </head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="{{ url_for('home') }}">Futura</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_user') }}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin') }}">Gestion Admin</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h1 class="text-center">Gestion des utilisateurs</h1>

        
        <table class="table table-bordered mt-4">
            <thead class="thead-light">
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Adresse postale</th>
                    <th>Ville</th>
                    <th>Téléphone</th>
                    <th>Action</th>
                    <th>Statut</th>
                    <th>Occupation</th>
                    <th>Éducation</th>
                    <th>Salaire</th>
                    <th>En attente d'un enfant</th>
                    <th>Médias</th>
                    <th>Marque de téléphone</th>
                    <th>Lit des magazines</th>
                    <th>Fume</th>
                    
                </tr>
            </thead>
            <tbody id="userTable">
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.city }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.status }}</td>
                    <td>{{ user.occupation }}</td>
                    <td>{{ user.education }}</td>
                    <td>{{ user.salary }}</td>
                    <td>{{ user.expecting_child }}</td>
                    <td>{{ user.media }}</td>
                    <td>{{ user.phone_brand }}</td>
                    <td>{{ user.reads_magazines }}</td>
                    <td>{{ user.smokes }}</td>
                    
                   
                    <td>
                        <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur?');">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if prev_page %}
            <a href="{{ url_for('admin', page=prev_page) }}" class="btn btn-primary">Précédent</a>
            {% endif %}
            {% if next_page %}
            <a href="{{ url_for('admin', page=next_page) }}" class="btn btn-primary">Suivant</a>
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
