<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Fortuna</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">Futura
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
             
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add_user') }}">Inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pannel_research') }}">Recherche Pannel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin') }}">Gestion Admin</a>
            </li>
            {% if 'username' in session %}
            <li class="nav-item">
                <span class="navbar-text"> {{ session['username'] }}</span>
            </li>
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='userlogo.png') }}" width="30" height="30" alt="User Logo">
                 
            </a>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Se déconnecter</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Se connecter</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
